<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueForm</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>問い合わせ内容</h1>
    <div id="app">
        <!-- 名前フォーム -->
        <div class="form-name">
            <p>氏名</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidName"class="error-name">氏名は５０文字以内で入力してください</p>
            <input type="text" name="name" placeholder="氏名を入力してください" v-model="name">
        </div>

        <!-- 性別-->
        <div class="form-gender">
            <p>性別</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidGender"class="error-gender">性別を選択してください</p>
            <select v-model="selected">
            <option disabled value="">性別を選択してください</option>
            <option></option>
            <option>男</option>
            <option>女</option>
            <option>答えたくない</option>
        </select>
        </div>

        <!-- 生年月日-->
        <div class="form-birth">
            <p>生年月日</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidBirth"class="error-birth">生年月日を入力してください</p>
            <input type="text" name="birth" placeholder="生年月日を入力してください" v-model="birth">
        </div>

        <!-- 郵便番号-->
        <div class="form-post">
            <p>郵便番号</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidPost"class="error-post">郵便番号を入力してください</p>
            <input type="text" name="post" placeholder="郵便番号を入力してください" v-model="post">
        </div>

        <!-- 住所-->
        <div class="form-address">
            <p>住所</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidAddress"class="error-address">住所は２００文字以内で入力してください</p>
            <input type="text" name="address" placeholder="住所を入力してください" v-model="address">
        </div>

        <!-- 電話番号フォーム -->
        <div class="form-phone">
            <p>電話番号</p>
            <input type="text" name="phone" placeholder="電話番号を入力してください" v-model="phone">
        </div>
        <!-- メールアドレス -->
        <div class="form-email">
            <p>メールアドレス</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidEmail"class="error-email">２００文字以内で入力してください</p>
            <input type="text" name="email" placeholder="メールアドレスを入力してください" v-model="email">
        </div>

        <!-- 問い合わせの種類-->
        <div class="form-kind">
            <p>問い合わせの種類</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidKind"class="error-kind">問い合わせの種類を選択してください</p>
            <select v-model="selected">
            <option disabled value="">問い合わせの種類を選択してください</option>
            <option></option>
            <option>商品について</option>
            <option>支払方法について</option>
            <option>キャンペーンについて</option>
            <option>クレーム</option>
            <option>お褒めの言葉</option>
            <option>その他</option>
        </select>
        </div>

        <!-- 相談内容-->
        <div class="form-content">
            <p>相談内容</p>
            <!-- エラーメッセージを追加 -->
            <p v-if="isInValidContent"class="error-content">相談内容は１，０００文字以内で入力してください</p>
            <input type="text" name="content" placeholder="相談内容を入力してください" v-model="content">
        </div>

    </div>
    <div>
        <button disabled>送信する</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
<script src="script/script.js"></script>

</body>

</html>